In [23]:
import pandas as pd
import mysql.connector as conn
import numpy as np
import datetime

In [165]:
# This is my code to read data in pandas

df = pd.read_csv('D:/FSDS-iNeuron/3.Resource/31st July live class Pandas/FitBit data.csv')

In [169]:
df.dtypes

Id                                   int64
ActivityDate                datetime64[ns]
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
dtype: object

In [117]:
# This is my code to read data in sql

connection = conn.connect(host='localhost', database='fitbit', user='root', passwd='Sai@9556332113')
cursor = connection.cursor()

#query = 'create database fitbit;'
#query = 'use fitbit;'
#query = 'create table if not exists fit_table(Id int(50), Activity datetime(6), TotalSteps int(20), TotalDistance float(50), TrackerDistance float(50), LoggedActivitiesDistance  float(50), VeryActiveDistance  float(50), ModeratelyActiveDistance  float(50), LightActiveDistance float(50), SedentaryActiveDistance float(50), VeryActiveMinutes  int(50), FairlyActiveMinutes  int(20), LightlyActiveMinutes int(20), SedentaryMinutes int(20), Calories int(20))'
query = """load data infile 'D:/FSDS-iNeuron/3.Resource/31st July live class Pandas/FitBit data.csv' into table fit_table fields terminated by ',' enclosed by '"' lines terminated by '\n\r' ignore 1 rows;"""

cursor.execute(query)

for i in cursor.fetchall():
    print(i)

In [172]:
# This is my code to convert data column to timestamp in pandas

df['ActivityDate'] = pd.to_datetime(df['ActivityDate'])

In [171]:
# This is my code to get number of unique IDs

len(df['Id'].unique())

35

In [173]:
# This is my code to find out the most active ID

df[df['VeryActiveMinutes'] == max(df['VeryActiveMinutes'])]['Id']

304    5577150313
Name: Id, dtype: int64

In [174]:
# This is my code to find out the number of people who has not logged their activity

len(df[df['LoggedActivitiesDistance'] == 0.0]['Id'])

433

In [175]:
# This is my code to find out the most laziest person

df[df['Calories'] == min(df['Calories'])]['Id']

134    2873212765
240    4319703577
290    4702921684
323    6117666160
412    8253242879
Name: Id, dtype: int64

In [176]:
# As per internet a healthy person should burn 2000 to 3000 calories a day. This is my code to find out number of healthy person

len(df[(df['Calories'] > 2000) & (df['Calories'] < 3000)])

184

In [186]:
# This is my code to find out the irregular persons

len(df.groupby('Id')['ActivityDate'].count() < 12)

35

In [203]:
df[df['VeryActiveMinutes'] < max(df['VeryActiveMinutes'])]

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,2016-03-27,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,2016-03-28,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,2016-03-29,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,2016-04-08,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,2016-04-09,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,2016-04-10,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,2016-04-11,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,2016-04-12,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [204]:
# This is my code to find out total acumulative calories

df.groupby('Id')['Calories'].sum()

Id
1503960366    34128
1624580081    25705
1644430081    29164
1844505072    19391
1927972279    27048
2022484408    29704
2026352035    16266
2320127002    18385
2347167796    30320
2873212765    20349
2891001357    18187
3372868164    18603
3977333714    16777
4020332650    98412
4057192912    60913
4319703577    23931
4388161847    14442
4445114986    31617
4558609924    21962
4702921684    42322
5553957443    21630
5577150313    36303
6117666160    20993
6290855005    21656
6391747486    15868
6775888955    24523
6962181067    29249
7007744171    31525
7086361926    26124
8053475328    31825
8253242879    17556
8378563200    40274
8583815059    19130
8792009665    24884
8877689391    41414
Name: Calories, dtype: int64