# Pandas Task

#Task 1 - Fitbit Dataset

1. Read this dataset in pandas , mysql and mongodb 
2. while creting a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql
 ## hint - use csvkit library to automate this task and to load a data in bulk in you mysql 
3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format
4 . Find out in this data that how many unique id's we have 
5 . which id is one of the active id that you have in whole dataset 
6 . how many of them have not logged there activity find out in terms of number of ids 
7 . Find out who is the laziest person id that we have in dataset 
8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset 
9. how many person are not a regular person with respect to activity try to find out those 
10 . who is the thired most active person in this dataset find out those in pandas and in sql both . 
11 . who is the 5th most laziest person avilable in dataset find it out 
12 . what is a totla acumulative calories burn for a person find out

# 1. Read this dataset in pandas , mysql and mongodb

In [1]:
# Read data in pandas

import pandas as pd
df = pd.read_csv('FitBit_data.csv')
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

# 2. while creting a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql
 ## Process used SqlAlchemy

In [2]:
!pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\users\sai\anaconda3\lib\site-packages (2.1.1)

In [4]:
# Read Data in MySql
from sqlalchemy import create_engine as ce

# Connect to MySql
engine = ce('mysql://root:Root_mysql@localhost:3306/practice')

# Load the imported CSV into your database
df.to_sql('fitbit_sql_alchemy', engine)

457

# 3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format

In [5]:
df.dtypes

Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object

In [7]:
df['ActivityDate'] = pd.to_datetime(df['ActivityDate'])
df.dtypes

Id                                   int64
ActivityDate                datetime64[ns]
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
dtype: object

# 4 . Find out in this data that how many unique id's we have

In [8]:
df['Id'].unique()

array([1503960366, 1624580081, 1644430081, 1844505072, 1927972279,
       2022484408, 2026352035, 2320127002, 2347167796, 2873212765,
       2891001357, 3372868164, 3977333714, 4020332650, 4057192912,
       4319703577, 4388161847, 4445114986, 4558609924, 4702921684,
       5553957443, 5577150313, 6117666160, 6290855005, 6391747486,
       6775888955, 6962181067, 7007744171, 7086361926, 8053475328,
       8253242879, 8378563200, 8583815059, 8792009665, 8877689391],
      dtype=int64)

In [9]:
len(df['Id'].unique()) # There are 35 unique Ids

35

# 5 . which id is one of the active id that you have in whole dataset

In [10]:
df.groupby('Id')['VeryActiveMinutes'].sum()

Id
1503960366    681
1624580081     14
1644430081    148
1844505072      9
1927972279      0
2022484408    481
2026352035      0
2320127002     11
2347167796    177
2873212765     61
2891001357      0
3372868164    118
3977333714    146
4020332650    130
4057192912     40
4319703577     79
4388161847      0
4445114986     76
4558609924     52
4702921684     44
5553957443    283
5577150313    900
6117666160      5
6290855005     78
6391747486     46
6775888955    179
6962181067    495
7007744171    536
7086361926    315
8053475328    933
8253242879     70
8378563200    665
8583815059      5
8792009665     18
8877689391    802
Name: VeryActiveMinutes, dtype: int64

function : idxmax()

In [20]:
df.groupby('Id')['VeryActiveMinutes'].sum().idxmax()

8053475328

function : sort_values

In [17]:
df.groupby('Id')['VeryActiveMinutes'].sum().sort_values(ascending = False)

Id
8053475328    933
5577150313    900
8877689391    802
1503960366    681
8378563200    665
7007744171    536
6962181067    495
2022484408    481
7086361926    315
5553957443    283
6775888955    179
2347167796    177
1644430081    148
3977333714    146
4020332650    130
3372868164    118
4319703577     79
6290855005     78
4445114986     76
8253242879     70
2873212765     61
4558609924     52
6391747486     46
4702921684     44
4057192912     40
8792009665     18
1624580081     14
2320127002     11
1844505072      9
6117666160      5
8583815059      5
4388161847      0
2891001357      0
2026352035      0
1927972279      0
Name: VeryActiveMinutes, dtype: int64

# 6 . how many of them have not logged there activity find out in terms of number of ids

In [24]:
df.groupby('Id')['LoggedActivitiesDistance'].sum() < 1

Id
1503960366     True
1624580081     True
1644430081     True
1844505072     True
1927972279     True
2022484408     True
2026352035     True
2320127002     True
2347167796     True
2873212765     True
2891001357    False
3372868164     True
3977333714     True
4020332650     True
4057192912     True
4319703577     True
4388161847     True
4445114986     True
4558609924     True
4702921684     True
5553957443     True
5577150313     True
6117666160     True
6290855005     True
6391747486    False
6775888955     True
6962181067    False
7007744171    False
7086361926     True
8053475328     True
8253242879     True
8378563200    False
8583815059     True
8792009665     True
8877689391     True
Name: LoggedActivitiesDistance, dtype: bool

function : apply, lambda, value_counts

In [29]:
df.groupby('Id')['LoggedActivitiesDistance'].sum().apply(lambda x:x<1).value_counts()

True     30
False     5
Name: LoggedActivitiesDistance, dtype: int64

# 7 . Find out who is the laziest person id that we have in dataset

Function : idxmin()

In [32]:
df.groupby('Id')['VeryActiveMinutes'].sum().idxmin()

1927972279

function : sort_values()

In [31]:
df.groupby('Id')['VeryActiveMinutes'].sum().sort_values()

Id
1927972279      0
2026352035      0
2891001357      0
4388161847      0
6117666160      5
8583815059      5
1844505072      9
2320127002     11
1624580081     14
8792009665     18
4057192912     40
4702921684     44
6391747486     46
4558609924     52
2873212765     61
8253242879     70
4445114986     76
6290855005     78
4319703577     79
3372868164    118
4020332650    130
3977333714    146
1644430081    148
2347167796    177
6775888955    179
5553957443    283
7086361926    315
2022484408    481
6962181067    495
7007744171    536
8378563200    665
1503960366    681
8877689391    802
5577150313    900
8053475328    933
Name: VeryActiveMinutes, dtype: int64

# 8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset (2200 calories / day)

function : lambda, value_counts

In [36]:
df.groupby('Id')['Calories'].sum().apply(lambda x:x>2200*7).value_counts()

True     34
False     1
Name: Calories, dtype: int64

# 9. how many person are not a regular person with respect to activity try to find out those

In [38]:
df[df['TotalSteps'] == 0]

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
51,1844505072,2016-04-04,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,669,1347
52,1844505072,2016-04-05,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1347
59,1844505072,2016-04-12,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,426,399
96,2320127002,2016-04-01,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1324
97,2320127002,2016-04-02,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402,8253242879,2016-04-02,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429
403,8253242879,2016-04-03,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429
404,8253242879,2016-04-04,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429
405,8253242879,2016-04-05,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429
412,8253242879,2016-04-12,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,0

# 10 . who is the thired most active person in this dataset find out those in pandas and in sql both .

In [43]:
df.groupby('Id')['VeryActiveMinutes'].sum().sort_values(ascending= False)

Id
8053475328    933
5577150313    900
8877689391    802
1503960366    681
8378563200    665
7007744171    536
6962181067    495
2022484408    481
7086361926    315
5553957443    283
6775888955    179
2347167796    177
1644430081    148
3977333714    146
4020332650    130
3372868164    118
4319703577     79
6290855005     78
4445114986     76
8253242879     70
2873212765     61
4558609924     52
6391747486     46
4702921684     44
4057192912     40
8792009665     18
1624580081     14
2320127002     11
1844505072      9
6117666160      5
8583815059      5
4388161847      0
2891001357      0
2026352035      0
1927972279      0
Name: VeryActiveMinutes, dtype: int64

Operation : Slicing

In [47]:
df.groupby('Id')['VeryActiveMinutes'].sum().sort_values(ascending= False)[2:3]

Id
8877689391    802
Name: VeryActiveMinutes, dtype: int64

In [48]:
# using sql query

select id, sum(VeryActiveMinutes) from fitbit_sql_alchemy group by Id ORDER BY sum(VeryActiveMinutes) DESC LIMIT 1 OFFSET 2;

SyntaxError: invalid syntax (153444652.py, line 3)

# 11 . who is the 5th most laziest person avilable in dataset find it out

In [52]:
df.groupby('Id')['SedentaryMinutes'].sum().sort_values(ascending=False)

Id
4057192912    43458
4020332650    34663
1624580081    24288
8253242879    16228
1503960366    15387
2320127002    14991
2873212765    13643
4558609924    13024
4445114986    12921
6290855005    12896
2022484408    12707
8877689391    12554
1844505072    12424
8053475328    12259
7007744171    12008
1927972279    11435
6391747486    11357
4388161847    11074
4702921684    10901
3372868164    10851
8792009665    10723
7086361926    10666
1644430081    10342
2347167796    10258
8583815059    10094
4319703577     9361
6775888955     9161
2891001357     8799
6117666160     8641
3977333714     8505
6962181067     8488
8378563200     8210
2026352035     7910
5577150313     7324
5553957443     7293
Name: SedentaryMinutes, dtype: int64

function : sort_values, slicing

In [54]:
df.groupby('Id')['SedentaryMinutes'].sum().sort_values(ascending=False)[4:5]

Id
1503960366    15387
Name: SedentaryMinutes, dtype: int64

# 12 . what is a totla acumulative calories burn for a person find out

In [55]:
df.groupby('Id')['Calories'].sum()

Id
1503960366    34128
1624580081    25705
1644430081    29164
1844505072    19391
1927972279    27048
2022484408    29704
2026352035    16266
2320127002    18385
2347167796    30320
2873212765    20349
2891001357    18187
3372868164    18603
3977333714    16777
4020332650    98412
4057192912    60913
4319703577    23931
4388161847    14442
4445114986    31617
4558609924    21962
4702921684    42322
5553957443    21630
5577150313    36303
6117666160    20993
6290855005    21656
6391747486    15868
6775888955    24523
6962181067    29249
7007744171    31525
7086361926    26124
8053475328    31825
8253242879    17556
8378563200    40274
8583815059    19130
8792009665    24884
8877689391    41414
Name: Calories, dtype: int64