In [1]:
n=5
for i in range(n):
    for j in range (i+1):
        print('ineroun',end=' ')
    print()

ineroun
ineroun ineroun
ineroun ineroun ineroun
ineroun ineroun ineroun ineroun
ineroun ineroun ineroun ineroun ineroun

In [8]:
for i in range(6):
    if i<=3:
        n=i
    else:
        n=6-i
    print(('ineuron  '*n).center(60,' '))

                         ineuron
                     ineuron  ineuron
                ineuron  ineuron  ineuron
                     ineuron  ineuron
                         ineuron

In [10]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":"kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [11]:
for x in l:
    if type(x)==list:
        print(x)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [13]:
for x in l:
    if type(x)==dict:
        print(x)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [14]:
for x in l:
    if type(x)==tuple:
        print(x)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [15]:
for i in l:
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==int or type(v)==int:
                print(k)
                print(v)

3
6
7
8

In [16]:
sum=0
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                sum+=j
print(sum)

132

In [17]:
sum=0
for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==int:
                if j%2!=0:
                    print(j)

1
3

In [18]:
sum=0
for i in l:
    if type(i)==dict:
            print(i["k2"])
    elif type(i)==list:
        for j in i:
            if j=='ineuron':
                print(j)

ineuron
ineuron

In [19]:
output=[]
for i in l:
    for j in i:
        output.append(j)
    if type(i)==dict:
        for k,v in i.items():
            output.append(v)
for ch in set(output):
    print(ch,':',output.count(ch))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
k2 : 1
kumar : 1
8 : 1
45 : 1
data science  : 1
23 : 1
ineuron : 2
k3 : 1
k1 : 1
sudh : 1

In [21]:
i=1
for x in l:
    if type(x)==dict:
        print(len(x))

5

In [22]:
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==str:
                print(j,end=',')
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==str or type(v)==str:
                print(k)
                print(v)

k1
sudh
k2
ineuron
k3
kumar
ineuron,data science ,

In [23]:
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            a=str(j)
            if a.isalnum():
                print(a,end=',')
    if type(i)==dict:
        for k,v in i.items():
            b=str(k)
            c=str(v)
            if a.isalnum() or b.isalnum():
                print(a)
                print(b)

1,2,3,4,2,3,4,5,6,3,4,5,6,7,45,4,5,23,23
k1
23
k2
23
k3
23
3
23
7
ineuron,

In [39]:
for i in l:
    m=1
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)== int:
                m*=j
        print(type(i),m)
    if type(i)==dict:
        for k in i.items():
            for n in k:
                if type(n)==int:
                    m*=n
        print(type(i),m)

<class 'list'> 24
<class 'tuple'> 720
<class 'tuple'> 2520
<class 'set'> 20700
<class 'dict'> 1008
<class 'list'> 1

In [37]:
output=[]
for i in l:
    for j in i:
        output.append(j)
    if type(i)==dict:
        for k,v in i.items():
            output.append(v)
print(output)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'k2', 'k3', 3, 7, 'sudh', 'ineuron', 'kumar', 6, 8, 'ineuron', 'data science ']